.theme--light {
  color: rgba(0, 0, 0, 0.67);
}

::-webkit-scrollbar {
  background-color: rgb(184, 184, 184);
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(187, 186, 186);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(99, 99, 99);
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

.hidden {
  overflow: hidden;
}

.strech-x {
  width: 100%;
}

.strech-y {
  height: 100%;
}

.strech {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.fixed-strech {
  position: fixed;
  width: 100%;
  height: 100%;
}

.strech-v {
  width: 100vw;
  height: 100vh;
}

.scroll {
  overflow: scroll;
  scroll-behavior: smooth;
}

.scroll-x {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.scroll-y {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.hidden {
  overflow: hidden;
}

.hidden-x {
  overflow-x: hidden;
}

.hidden-y {
  overflow-y: hidden;
}

.scroll-auto-x {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.scroll-auto-y {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.absolute-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: fit-content;
  height: fit-content;
}

html {
  overflow-y: hidden;
}
